/* NAVIGATION BLOCK */
/* NAVY BLUE(#2E2F42), SLATE(#434455), 
CORNFLOWER(#E7E9FC), IRIS(#4D5AE5), WHITE(#FFFFFF)
HOVER: OCEAN(#404BBF) */

/* HERO BLOCK */
/* WHITE(#FFFFFF), IRIS(#4D5AE5), NAVY BLUE(#2E2F42) */

/*  ADVANTAGES BLOCK*/
/* NAVY BLUE(#2E2F42), SLATE(#434455) */

/* ABILITIES BLOCK */
/* CORNFLOWER(#E7E9FC), NAVY BLUE(#2E2F42) */

/* COMPANY TEAM BLOCK */
/* NAVY BLUE(#2E2F42), SLATE(#434455), WHITE(#FFFFFF), CLOUD(#F4F4FD)*/

/* FOOTER BLOCK */
/* CLOUD(#F4F4FD), IRIS(#4D5AE5), NAVY BLUE(#2E2F42) */

/* .class decor block {
  1 geometry
  2 color & text
  3 design effects
} */

:root {
  --accent-color: #4d5ae5;
  --accent-color-transparent: rgba(77, 90, 229, 0.9);
  --button-background: rgba(231, 233, 252, 1);
  --button-background-hover: rgba(214, 216, 232, 0.8);
  --button-color: rgba(46, 47, 66, 1);
  --button-border: rgba(0, 0, 0, 0.1);
  --hover-color: #404bbf;
  --title-color: #2e2f42;
  --valid-fields: #31d0aa;
  --text-color: #434455;
  --border-grey: #8e8f99;
  --link-color: #afb1b8;
  --color-white: #ffffff;
  --image-bg-color: #e7e9fc;
  --section-bg-color: #f4f4fd;
  --backdrop-color: rgba(46, 47, 66, 0.4);
  --description-bg-color: rgba(47, 48, 68, 0.7);

  --portfolio-card-shadow-active: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* --portfolio-card-shadow-active: 0px 1px 1px rgba(46, 47, 66, 0.08),
    0px 4px 4px rgba(46, 47, 66, 0.16), 1px 4px 6px rgba(46, 47, 66, 0.08); */

  --box-shabow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --home-box-shadow: 0px 1px 6px rgba(46, 47, 68, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --gradient: linear-gradient(rgba(46, 47, 66, 0.7));

  --color-pending: #ffa500;
  --color-online: #19ba19;
  --color-offline: #ff0000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
/* general */
body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
a {
  color: var(--title-color);
  text-decoration: none;
  outline: transparent;
}
/* content container */
.container {
  max-width: 1160px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 1px solid var(--color-pending); */
}
/* button */
.button {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: transparent;
}
.button.primary {
  color: var(--color-white);
  background-color: var(--accent-color);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--hover-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--section-bg-color);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
}
/* title */
.title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title-color);
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* section title*/
.section-title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--title-color);
}
/* general list */
.list {
  list-style: none;
}
/* header */
.header {
  outline: 1px solid var(--image-bg-color);
}
.header .link {
  display: block;
  padding: 23px 0px;
}
.header-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
/* header navigation */
.navigation-list {
  display: flex;
  margin-left: 76px;
}

.navigation-list .item + .item,
.header-contacts .item + .item {
  margin-left: 40px;
}
/* .navigation-list .item:not(:last-child),
.header-contacts .item:not(:last-child) {
  margin-right: 40px;
} */
.navigation-list .item {
  position: relative;
}

.logo {
  display: block;
  padding: 24px 0px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo span {
  color: var(--title-color);
}
.navigation-list .link:hover,
.navigation-list .link:focus,
.navigation-list .link.active {
  color: var(--hover-color);
}
/* ============================================== */
.navigation-list .link.active:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 4px;
  bottom: 0px;
}
/* ============================================== */

/* header contacts */
.header-contacts {
  display: flex;
  margin-left: auto;
}
/* header contact list */
.header-contacts .link {
  color: var(--text-color);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--hover-color);
}
/* footer */
.footer-container {
  display: flex;
}
.footer_info {
  background-color: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.slogan .title {
  height: 0;
  visibility: hidden;
}
.slogan .logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 16px;
}
.slogan .logo span {
  color: var(--section-bg-color);
}
.slogan .description {
  color: var(--section-bg-color);
}
.footer_info .social-media {
  margin-left: 120px;
}
.social-media .title {
  margin-bottom: 16px;
  font-size: 16px;
  color: var(--color-white);
}
.footer_info .media-list {
  display: flex;
  align-items: center;
}
.footer_info .media-list .item + .item {
  margin-left: 16px;
}
.footer_info .media-list .media-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer_info .media-list .media-list__link .icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}
.footer_info .media-list .media-list__link:hover,
.footer_info .media-list .media-list__link:hover .icon,
.footer_info .media-list .media-list__link:focus,
.footer_info .media-list .media-list__link:focus .icon {
  background-color: var(--accent-color);
}
/* .footer_info .social-media__list .item .link::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
.footer_info .social-media__list .link-instagram::before {
  background-image: url("../images/decor_img/instagram.svg");
}
.footer_info .social-media__list .link-twitter::before {
  background-image: url("../images/decor_img/twitter.svg");
}
.footer_info .social-media__list .link-facebook::before {
  background-image: url("../images/decor_img/facebook.svg");
}
.footer_info .social-media__list .link-linkedin::before {
  background-image: url("../images/decor_img/linkedin.svg");
} */
