/* CONTENT MAIN PAGE WEBSTUDIO */
/* hero */

.hero {
  background-color: var(--title-color);
  text-align: center;
  padding: 188px 0;
}
.hero .title {
  margin-bottom: 48px;
  color: var(--color-white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  /* letter-spacing: 1.12px;  font-size(px) / letter-spacing(px) = em*/
  letter-spacing: 0.02em;
}
.hero .button {
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* advantages */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages .section-title {
  height: 0;
  visibility: hidden;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advantages-list .item {
  max-width: 265px;
}

.advantages-list .title {
  margin-bottom: 8px;
}

/* abilities */
.abilities-container {
  text-align: center;
}
.abilities .section-title {
  margin-bottom: 72px;
}
.abilities-list {
  display: flex;
  justify-content: space-between;
}

.abilities-list img {
  display: block;
}
/* company-team */
.company-team {
  text-align: center;
  background-color: var(--section-bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.company-team-list {
  display: flex;
  justify-content: space-between;
}
.company-team .section-title {
  margin-bottom: 72px;
}
.company-team-list .item {
  text-align: center;
  max-width: 264px;
  background-color: var(--color-white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 68, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.company-team-list .item img {
  display: block;
}
.company-team-list .description {
  padding-top: 32px;
  padding-bottom: 32px;
}
.company-team-list .title {
  margin-bottom: 8px;
}
