/* CONTENT MAIN PAGE WEBSTUDIO */
/* hero */

.hero {
  background-color: var(--title-color);
  text-align: center;
  padding: 188px 0;
}
.hero .title {
  color: var(--color-white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  /* letter-spacing: 1.12px;  font-size(px) / letter-spacing(px) = em*/
  letter-spacing: 0.02em;
}
.hero .button {
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* advantages */

/* abilities */

/* company-team */
.company-team {
  /* text-align: center; */
  background-color: var(--section-bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.company-team-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 24px;
  padding-top: 72px;
}
.company-team-list .item {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  width: 264px;
  background-color: var(--color-white);
}
