/* CONTENT MAIN PAGE WEBSTUDIO */
/* hero */

.hero {
  margin-right: auto;
  margin-left: auto;
  padding: 188px 0;

  max-width: 1440px;
  height: 600px;

  align-self: center;
  text-align: center;

  background-color: var(--title-color);
  background-image: var(--gradient), url("../images/decor_img/office.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .title {
  margin-bottom: 48px;
  color: var(--color-white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  /* letter-spacing: 1.12px;  font-size(px) / letter-spacing(px) = em*/
  letter-spacing: 0.02em;
}
.hero .button {
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* advantages */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages .section-title {
  height: 0;
  visibility: hidden;
}
.advantages-list {
  display: flex;
  flex-wrap: nowrap;
}
.advantages-list > .item {
  flex-basis: calc((100% - 72px) / 4);
  margin-right: 24px;
}
.advantages-list > .item:last-child {
  margin-right: 0px;
}
.advantages-list > .item::before {
  content: "";
  display: block;
  height: 112px;

  margin-bottom: 8px;
  padding-bottom: 24px;
  padding-top: 24px;
  border-radius: 4px;

  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--section-bg-color);
}
.icon-antenna::before {
  background-image: url("../images/decor_img/antenna.svg");
}
.icon-clock::before {
  background-image: url("../images/decor_img/clock.svg");
}
.icon-diagram::before {
  background-image: url("../images/decor_img/diagram.svg");
}
.icon-astronaut::before {
  background-image: url("../images/decor_img/astronaut.svg");
}

.advantages-list > .title {
  margin-bottom: 8px;
}
/* abilities */
.abilities {
  padding-bottom: 120px;
}
.abilities-container {
  text-align: center;
}
.abilities .section-title {
  margin-bottom: 72px;
}
.abilities-list {
  display: flex;
  max-width: 100%;
}
.abilities-list > .item {
  flex-basis: calc((100% - 50px) / 3);
  margin-right: 25px;
}
.abilities-list > .item:last-child {
  margin-right: 0px;
}
.abilities-list img {
  display: block;
  max-width: 100%;
}
/* company-team */
.company-team {
  background-color: var(--section-bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.company-team-container {
  text-align: center;
}
.company-team .section-title {
  margin-bottom: 72px;
}
.company-team-list {
  display: flex;
  min-width: 100%;
}
.company-team-list > .item {
  flex-basis: calc((100% - 75px) / 4);
  margin-right: 25px;
  background-color: var(--color-white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: var(--home-box-shadow);
}
.company-team-list > .item:last-child {
  margin-right: 0px;
}
.company-team-list > .item img {
  display: block;
  min-width: 100%;
}
.company-team-list .description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.company-team-list .description .title {
  margin-bottom: 8px;
}
/* ########### */
.description .social-links {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.description .social-links .item + .item {
  margin-left: 14px;
}
.description .social-links__link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  /* padding: 12px; */
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.description .social-links__link .icon {
  width: 20px;
  height: 20px;
  fill: var(--link-color);
  transition: fill 0.3s ease;
}
.description .social-links__link:hover,
.description .social-links__link:focus {
  background-color: var(--accent-color);
}
.description .social-links__link:hover .icon,
.description .social-links__link:focus .icon {
  fill: var(--color-white);
}
/* Customers */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-container {
  text-align: center;
}
.customers .customers-list {
  display: flex;
  margin-top: 72px;
}
.customers .customers-list .item + .item {
  margin-left: 24px;
}
.customers-list > .item > .link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 168px;
  height: 88px;
  border: 1px solid var(--border-grey);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.customers-list > .item > .link .icon {
  width: 104px;
  height: 56px;
  fill: var(--border-grey);
  transition: fill 0.3s ease;
}
.customers-list .link:hover,
.customers-list .link:hover .icon,
.customers-list .link:focus,
.customers-list .link:focus .icon {
  border-color: var(--hover-color);
  fill: var(--hover-color);
}
