/* CONTENT PORTFOLIO PAGE */
.portfolio .section-title {
  height: 0;
  visibility: hidden;
}
/* filter list */
.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
}
.filter-list .item + .item {
  margin-left: 24px;
}
.filter-list .button {
  border-radius: 4px;
  padding: 12px 24px;
}
/* content list */
.content-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
}
.content-list > .item {
  /* calc((100% - кіль-сть_відступів_в_рядку * довжина_одного_відступу_в_рядку) / кіль-сть_елементів_в_рядку) */
  flex-basis: calc((100% - 50px) / 3);
}
.content-list .content-list__portfolio {
  display: inline-block;
  transition: box-shadow 250ms var(--cubic-animation);
}
.content-list .content-list__portfolio:hover,
.content-list .content-list__portfolio:focus {
  box-shadow: var(--portfolio-card-shadow-active);
}
.content-list > .item:not(:nth-child(3n)) {
  margin-right: 25px;
}
.content-list > .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}
.content-list > .item img {
  display: block;
  max-width: 100%;
}
.modal {
  position: relative;
  overflow: hidden;
}
.modal__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 26px;
  background-color: var(--accent-color-transparent);

  color: var(--section-bg-color);

  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-animation);
}
.content-list__portfolio:hover .modal__description {
  transform: translateY(0);
}
.short-description {
  padding: 32px 16px;
  border: 1px solid var(--image-bg-color);
  border-top: none;
}

/* .content-list .item:nth-child(3n) {
  margin-right: 0;
}
.content-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
